version: '3.8'

services:
  web_service:
    image: ghcr.io/meteor95/artha_medica-ghcr:1.7.12
    ports:
      - target: 8080
        published: 10161
        mode: ingress
    volumes:
      - ./source/storage:/var/www/html/storage
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "10"
